#user_nav {

  float: right;
  padding-right: 50px;
  font-size: 14px;
  padding-top: 5px;

}

.navbar-inner {

  padding-left: 50px;

}


#exam_container_table th {
  padding: 10px;
  border: 2px solid rgb(149,149,160);

}


#exam_container_table td {
  padding: 10px;
  border: 2px solid silver;
}

